body{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    background-color: beige;
    border-radius: 15px;
}
header>h1{
    color:#007cc2;
    padding-bottom: 10px;
    font-size: 50px;
    
}
nav>ul{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
nav>ul>li{flex-grow: 1;}
nav>ul>li>a{
    text-decoration: none;
    background-color: lightgray;
    text-align: center;
    color: #000000;
    display: block;
    padding: 1em;

}
nav>ul>li>a:hover{
    background-color: lightcoral;
}
footer {
    position: relative;
    height: 0px; 
    align-items: center;
    background-color: beige;

  }
.Contenido img {
    height: 200px;
    width: 200px;
    
}
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    li{
        margin: 10px 0;
    }
    
}
